VITE_API_URL=http://localhost:8000/api
VITE_SUPABASE_URL=https://ojnlzjhdwxruanusepaw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qbmx6amhkd3hydWFudXNlcGF3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDI5NzY2NSwiZXhwIjoyMDk5ODczNjY1fQ.GRl-7z63hTEJos7eNyUL_stFxrUFvMubCfQR-WxhwYA
