APP_NAME="Content Service"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8003

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=your_db_password_here

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:5173,localhost:3000
SESSION_DRIVER=database

QUEUE_CONNECTION=redis
REDIS_HOST=redis
REDIS_PORT=6379

CACHE_STORE=redis
